.loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #999;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
